{% extends "base.html" %}

{% block title %}Qualify for {{ event.name }}{% endblock %}

{% block content %}
<h1>Qualify for {{ event.name }}</h1>

{% if event.qualifying_instructions %}
{% markdown event.qualifying_instructions %}
{% endif %}

<div class="auth-word alert alert--light-info">
  Your auth word is:
  <div class="auth-word__word">
    {{ qualifier.auth_word|upper }}
  </div>
  When you complete your first game with a score of over 5000, <strong>enter this word on the leaderboard</strong>. This helps us verify that you're recording your qualifier in real time.
</div>

<form method="post" class="form">
  {% csrf_token %}
  {{ form.non_field_errors }}

  <div class="field-list">
    {% for field in form.submit_fields %}
    <div class="field-list__row">
      <div class="field-list__label field-list__label--input">
        {{ field.label_tag }}
      </div>
      <div class="field-list__value">
        {{ field }}
        {{ field.errors }}
      </div>
    </div>
    {% endfor %}

    <div class="field-list__row">
      <div class="field-list__label"></div>
      <div class="field-list__value">
        <input type="submit" value="Submit" class="btn btn--primary">
      </div>
    </div>
  </div>
</form>
{% endblock %}
