{% extends "base.html" %}

{% block title %}{{ match }}{% endblock %}

{% block content %}
<a href="{{ tournament.get_absolute_url }}">
  Back to {{ tournament.name }}
</a>

<div class="section">
  <div class="section__header">
    <h2 class="section__title">
      {{ match }}
    </h2>

    {% if match_display.can_restream %}
    <a href="{% url "event:tournament:match:restream" match.tournament.event.slug match.tournament.slug match.match_number %}" class="btn btn--primary">
      Restream
    </a>
    {% endif %}
  </div>

  <div class="section__body">
    <div class="field-list">
      <div class="field-list__row">
        <div class="field-list__label">
          Player 1:
        </div>
        <div class="field-list__value">
          {% if match.player1.user %}
          <a href="{{ match.player1.user.get_absolute_url }}">{{ match.player1.display_name }}</a>
          {% else %}
          {{ match.player1_display_name }}
          {% endif %}
        </div>
      </div>
      <div class="field-list__row">
        <div class="field-list__label">
          Player 2:
        </div>
        <div class="field-list__value">
          {% if match.player2.user %}
          <a href="{{ match.player2.user.get_absolute_url }}">{{ match.player2.display_name }}</a>
          {% else %}
          {{ match.player2_display_name }}
          {% endif %}
        </div>
      </div>

      {% if match.winner %}
      {% endif %}

      {% if match.match %}
      <div class="field-list__row">
        <div class="field-list__label">
          Restreamed at:
        </div>
        <div class="field-list__value">
          {% if match.match.channel %}
          <a href="{{ match.match.channel.twitch_url }}">{{ match.match.channel.twitch_url }}</a>
          {% endif %}
        </div>
      </div>

      <div class="field-list__row">
        <div class="field-list__label">
          Scheduled for:
        </div>
        <div class="field-list__value">
          {% if match.match.start_date %}
          {{ match.match.start_date }}
          {% endif %}
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}
