{% extends "base.html" %}

{% load humanize %}

{% block title %}Review Qualifier{% endblock %}

{% block content %}
<div class="section">
  <div class="section__header">
    <h2 class="section__title">
      Review Qualifier
    </h2>
  </div>

  <div class="section__body">
    <div class="field-list">
      <div class="field-list__row">
        <div class="field-list__label">
          Event:
        </div>
        <div class="field-list__value">
          <a href="{{ qualifier.event.get_absolute_url }}">{{ qualifier.event.name }}</a>
        </div>
      </div>
      <div class="field-list__row">
        <div class="field-list__label">
          User:
        </div>
        <div class="field-list__value">
          <a href="{{ qualifier.user.get_absolute_url }}">{{ qualifier.user.display_name }}</a>
        </div>
      </div>
      <div class="field-list__row">
        <div class="field-list__label">
          Score:
        </div>
        <div class="field-list__value">
          {{ qualifier.qualifying_score|intcomma }}
        </div>
      </div>
      <div class="field-list__row">
        <div class="field-list__label">
          Qualifying data:
        </div>
        <div class="field-list__value">
          {{ qualifier.qualifying_data }}
        </div>
      </div>
      <div class="field-list__row">
        <div class="field-list__label">
          VOD:
        </div>
        <div class="field-list__value">
          <a href="{{ qualifier.vod }}">{{ qualifier.vod }}</a>
        </div>
      </div>
      <div class="field-list__row">
        <div class="field-list__label">
          Auth word:
        </div>
        <div class="field-list__value">
          {{ qualifier.auth_word }}
        </div>
      </div>
      <div class="field-list__row">
        <div class="field-list__label">
          Details:
        </div>
        <div class="field-list__value">
          {{ qualifier.details }}
        </div>
      </div>
      <div class="field-list__row">
        <div class="field-list__label">
          Started at:
        </div>
        <div class="field-list__value">
          {{ qualifier.created_at }}
        </div>
      </div>
      <div class="field-list__row">
        <div class="field-list__label">
          Submitted at:
        </div>
        <div class="field-list__value">
          {{ qualifier.submitted_at }}
        </div>
      </div>
    </div>
    <a href="{% url "admin:classic_tetris_project_qualifier_change" qualifier.id %}">View/edit in admin</a>
  </div>
</div>

{% module "Reviewer Feedback" %}
<form method="post" class="form form--narrow">
  {% csrf_token %}

  {% for check in form.checks %}
  <div class="form__field">
    {{ check }}
    {{ check.label_tag }}
    {{ check.errors }}
  </div>
  {% endfor %}

  <div class="form__field">
    <label for="{{ form.notes.id_for_label }}">Notes for the player:</label>
    {{ form.notes }}
    {{ form.notes.errors }}
  </div>

  <div class="form__field">
    {% for radio in form.approved %}
    <div>
      {{ radio }}
    </div>
    {% endfor %}
    {{ form.approved.errors }}
  </div>

  <div class="form__actions">
    <input type="submit" value="Submit" class="btn btn--primary">
  </div>
</form>
{% endmodule %}

{% endblock %}
