- extends "base.html"

- block title
  {{ tournament.name }} Bracket

- block body
  %body{class: "{% if embed %}transparent{% endif %}", data-theme: "dark"}
    - react_component "TournamentBracketController" bracket_props
