.bracket-match-container
  - if node.left or node.right
    .bracket-match-left
      - if node.left
        - include "tournament/bracket_node.haml" with node=node.left
      - else
        .bracket-spacer
    .bracket-match-right
      - if node.right
        - include "tournament/bracket_node.haml" with node=node.right
      - else
        .bracket-spacer
  - if node.left and node.right
    .bracket-path-left
    .bracket-path-right
  - elif node.left
    .bracket-path-top
  - elif node.right
    .bracket-path-bottom

  .bracket-match
    .bracket-match-number
      %a{href: "{{node.match.get_absolute_url}}"} Match {{ node.match.match_number }}
    - if node.match.player1.user
      .bracket-match-player{class: "color-{{node.color_left}}{%if node.display.player1_winner%} winner{%endif%}"}
        .player-seed= node.match.player1.seed
        .player-name
          %a{href: "{{node.match.player1.get_absolute_url}}"}= node.match.player1.display_name
    - else
      .bracket-match-player{class: "color-{{node.color_left}}"}
        .player-name= node.display.player1_display_name
    - if node.match.player2.user
      .bracket-match-player{class: "color-{{node.color_right}}{%if node.display.player2_winner%} winner{%endif%}"}
        .player-seed= node.match.player2.seed
        .player-name
          %a{href: "{{node.match.player2.get_absolute_url}}"}= node.match.player2.display_name
    - else
      .bracket-match-player{class: "color-{{node.color_right}}"}
        .player-name= node.display.player2_display_name
