{% extends "base.html" %}

{% load humanize %}

{% block title %}{{ tournament.name }}{% endblock %}


{% block content %}
<a href="{{ tournament.event.get_absolute_url }}">
  Back to {{ tournament.event.name }}
</a>
<h1>{{ tournament.name }}</h1>

<div class="module">
  <div class="module__header">
    <div class="module__header-title">
      Players
    </div>
  </div>

  <div class="module__body">
    <table class="data-table">
      <tr class="data-table__headers">
        <th>Seed</th>
        <th>Player</th>
        <th>Score</th>
      </tr>
      {% for player in tournament_players %}
      <tr class="data-table__row {% cycle "data-table__row--even" "data-table__row--odd" %}">
        <td>{{ player.seed }}</td>
        <td>
          {% if player.user %}
          <a href="{{ player.user.get_absolute_url }}">{{ player.user.display_name }}</a>
          {% else %}
          {{ player.name_override }}
          {% endif %}
        </td>
        <td>
          {% if player.qualifier %}
          <a href="{% url "qualifier" player.qualifier.id %}">{{ player.qualifier.qualifying_score|intcomma }}</a>
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>

<div class="module">
  <div class="module__header">
    <div class="module__header-title">
      All Matches
    </div>
  </div>

  <div class="module__body">
    <table class="data-table">
      <tr class="data-table__headers">
        <th>Match #</th>
        <th>Player 1</th>
        <th>Player 2</th>
      </tr>

      {% for match in tournament_matches %}
      <tr class="data-table__row {% cycle "data-table__row--even" "data-table__row--odd" %}">
        <td>{{ match.match_number }}</td>
        <td>
          {% if match.player1.user %}
          <a href="{{ match.player1.user.get_absolute_url }}">{{ match.player1.display_name }}</a>
          {% else %}
          {{ match.player1_display_name }}
          {% endif %}
        </td>
        <td>
          {% if match.player2.user %}
          <a href="{{ match.player2.user.get_absolute_url }}">{{ match.player2.display_name }}</a>
          {% else %}
          {{ match.player2_display_name }}
          {% endif %}
        </td>
        <td>
          <a href="{{ match.get_absolute_url }}">View</a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
