// TODO clean this file up

@use 'colors';

$match-width: 240px;

.bracket-container {
  overflow: hidden;

  &--border {
    // Border inside the div, doesn't affect sizing
    box-shadow: 0px 0px 0px 1px red inset;
  }

  &--scaled {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}


.bracket-match-container {
  display: grid;
  grid-template-columns: 1fr auto auto $match-width;
  // This is bad and relies on feed-in rounds being on the bottom, figure out a
  // better way of putting track 3 vertically in the middle of the "right" area
  grid-template-rows: auto auto 1fr 1fr;
  grid-template-areas: "left   .          path-right  node"
                       "left   path-left  path-right  node"
                       "right  path-left  path-right  node"
                       "right  .          path-right  node";
  align-items: center;
}

.bracket-match-left {
  grid-area: left;
}

.bracket-match-right {
  grid-area: right;
}

.bracket-path-left {
  height: 100%;
  width: 10px;
  border: 1px solid var(--text-primary);
  border-left: none;
  grid-area: path-left;
}

.bracket-path-right {
  width: 10px;
  height: 0;
  margin: auto;
  border-top: 1px solid var(--text-primary);
  grid-area: path-right;
}

.bracket-path-top {
  width: 20px;
  height: 100%;
  border-top: 1px solid var(--text-primary);
  grid-column: 2 / 4;
  grid-row: 1;
}

.bracket-path-bottom {
  width: 20px;
  height: 100%;
  border-bottom: 1px solid var(--text-primary);
  grid-column: 2 / 4;
  grid-row: 3;
}

.bracket-spacer {
  height: 37px;
}

.bracket {
  width: fit-content;
  height: fit-content;
  // Bottom padding is 0 (for now) since match nodes have a margin-bottom of 15px
  padding: 15px 15px 0 15px;

  .bracket-match {
    grid-area: node;
    margin: 15px 0;
    width: $match-width;
    position: relative;
  }

  .bracket-match-number {
    text-align: center;
    position: absolute;
    top: -20px;
    width: 100%;
  }

  .bracket-match-player {
    display: flex;
    height: 35px;
    margin: 2px 0;
    color: colors.$text-white;
    background: colors.$bracket-default;
    border: 1px solid var(--text-primary);
    position: relative;
    font-family: 'Bungee';

    &.color-1 {
      background: colors.$bracket-1;
    }

    &.color-2 {
      background: colors.$bracket-2;
    }

    &.color-3 {
      background: colors.$bracket-3;
    }

    &.color-4 {
      background: colors.$bracket-4;
    }

    &.color-5.winner {
      background: colors.$bracket-winner;
    }

    .player-seed {
      flex: 0 0 35px;
      text-align: center;
      border-right: 1px solid var(--text-primary);
      background: rgba(0, 0, 0, 0.4);
      padding: 5px 0;
    }

    .player-name {
      flex: 1 0 0px;
      text-align: center;
      padding: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  a {
    color: inherit;
    text-decoration: none;
  }

}

.bracket-controls {
  border: 1px #FFF solid;
  margin-top: 30px;
  padding: 10px;

  label {
    display: block;
  }
}
