$navbar-bg: #424242;
$navbar-text: #FFFFFF;
$navbar-drawer-bg: #333333;

$alert-info-bg: #2D9CDB;
$alert-info-text: #FFFFFF;
$alert-light-info-border: #2D9CD8;
$alert-light-info-bg: #BDEFFF;
$alert-light-info-text: #2D9CD8;

$bg-white: #FFFFFF;

$border-gray: #BDBDBD;
$border-blue: #2D9CDB;

$icon-white: #FFFFFF;

$error-text: #B40000;

$button-primary-bg: #27AE60;
$button-primary-text: #FFFFFF;
$button-discord-bg: #7289DA;
$button-discord-text: #FFFFFF;
$button-twitch-bg: #9147FF;
$button-twitch-text: #FFFFFF;
$button-red-bg: #EB5757;
$button-red-text: #FFFFFF;

$module-bg: #FFFFFF;
$module-header-bg: #9B51E0;
$module-header-text: #FFFFFF;

$data-table-even-bg: #F2F2F2;
$data-table-odd-bg: #FFFFFF;

$qualifier-table-text: #FFFFFF;

$status-tag-text: #FFFFFF;
$status-tag-green-bg: #00C314;
$status-tag-red-bg: #C30000;
$status-tag-gray-bg: #828282;
