@use 'colors';

input[type="text"], input[type="number"], input[type="url"], select, textarea {
  margin: 1px;
  padding: 5px;
  font-size: 16px;
  line-height: 20px;
  border: 1px solid colors.$border-gray;

  &:focus {
    outline: 2px solid colors.$border-blue;
    //margin: 0;
    //border: 2px solid colors.$border-blue;
  }
}

select:after {
  color: colors.$border-gray;
}

.field-list {
  &__row {
    display: table-row;
  }

  &__label {
    display: table-cell;
    padding: 5px;
    text-align: right;
    vertical-align: top;

    &--input {
      padding: 11px 5px;
    }
  }

  &__value {
    display: table-cell;
    padding: 5px;
    vertical-align: top;
  }
}

.errorlist {
  list-style: none;
  margin: 0;
  padding: 0;
  color: colors.$error-text;
  font-size: 14px;
}
