@use 'colors';

.field-list {
  &__row {
    display: table-row;
  }

  &__label {
    display: table-cell;
    padding: 5px;
    width: 120px;
    text-align: right;
    vertical-align: top;

    &--input {
      padding: 11px 5px;
    }
  }

  &__value {
    display: table-cell;
    padding: 5px;
    vertical-align: top;
  }

  &__hint {
    margin-top: 5px;
    font-size: 12px;
  }
}

.errorlist {
  list-style: none;
  margin: 0;
  padding: 0;
  color: colors.$error-text;
  font-size: 14px;
}

.form {
  &--narrow {
    width: 400px;
    max-width: 100%;
    margin: auto;

    input[type="text"], input[type="number"], input[type="url"], select, textarea {
      width: 100%;
    }
  }

  &__field + &__field {
    margin-top: 5px;
  }

  &__actions {
    margin-top: 15px;
  }

  // To be refactored once form rendering is streamlined
  input[type="text"], input[type="number"], input[type="url"], select, textarea {
    padding: 5px;
    font-size: 16px;
    line-height: 20px;
    border: 1px solid colors.$border-gray;

    &:focus {
      outline: 2px solid colors.$border-blue;
    }
  }

  select:after {
    color: colors.$border-gray;
  }

  textarea {
    resize: none;
    box-sizing: border-box;
  }
}
