<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>{% block title %}Classic Tetris Monthly{% endblock %}</title>
  </head>
  <body>
    <nav class="navbar navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Classic Tetris Monthly</a>
      {% if user %}
        <span class="navbar-text">
          Hello, {{user.display_name}}.
          <a href="{% url "oauth:logout" %}">Logout</a>
        </span>
      {% else %}
        <span class="navbar-text">
          <a href="{% url "oauth:login" %}">Login</a>
        </span>
      {% endif %}
    </nav>

    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-info">{{ message }}</div>
      {% endfor %}
    {% endif %}

    <div>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
