{% extends "base.html" %}

{% block title %}{{ user.display_name }}{% endblock %}

{% block content %}
<div class="profile">
  <div class="profile-header">
    <h1 class="profile-header__title">
      {{ user.display_name }}
    </h1>
    {% if user.pronouns %}
    <div class="profile-header__subtitle">
      {{ user.get_pronouns_display }}
    </div>
    {% endif %}
  </div>

  <div class="section">
    <div class="section__header">
      <h2 class="section__title">
        Profile
      </h2>
      {% if user == current_user %}
      <a href="{% url "profile:edit" %}" class="btn btn--link">
        Edit
      </a>
      {% endif %}
    </div>
    <div class="section__body">
      <div class="field-list">
        {% if user.country %}
        <div class="field-list__row">
          <div class="field-list__label">
            Country:
          </div>
          <div class="field-list__value">
            {{ user.get_country_display }}
          </div>
        </div>
        {% endif %}

        {% if discord_user %}
        <div class="field-list__row">
          <div class="field-list__label">
            Discord:
          </div>
          <div class="field-list__value">
            {{ discord_user.username_with_discriminator }}
          </div>
        </div>
        {% endif %}

        {% if twitch_user %}
        <div class="field-list__row">
          <div class="field-list__label">
            Twitch:
          </div>
          <div class="field-list__value">
            <a href="{{ twitch_user.twitch_url }}">{{ twitch_user.username }}</a>
          </div>
        </div>
        {% endif %}

        {% if user.playstyle %}
        <div class="field-list__row">
          <div class="field-list__label">
            Playstyle:
          </div>
          <div class="field-list__value">
            {{ user.get_playstyle_display }}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
