- extends "base.html"

- block title
  Schedule Match

- block content
  %a{href: "{{ match.get_absolute_url }}"} Back to Match

  .section
    .section__header
      %h2.section__title
        Schedule Match

    .section__body
      %form.form{method: "post"}
        - csrf_token
        = form.non_field_errors

        .field-list
          - field_list_row "Tournament:"
            %a{href: "{{ match.tournament.get_absolute_url }}"}= match.tournament.name

          - field_list_row "Player 1:"
            - if match.player1.user
              %a{href: "{{ match.player1.user.get_absolute_url }}"}= match.player1.display_name
            - else
              = match_display.player1_display_name

          - field_list_row "Player 2:"
            - if match.player2.user
              %a{href: "{{ match.player2.user.get_absolute_url }}"}= match.player2.display_name
            - else
              = match_display.player2_display_name

          - field_list_input_row "Twitch channel:" form.channel
          - field_list_input_row "Start time:" form.start_date

          - field_list_row ""
            %input.btn.btn--primary{type: "submit", value: "Schedule"}

- block footer
  = form.media
