{% extends "base.html" %}

{% block title %}Cookie Policy{% endblock %}

{% block content %}

<h1>Cookie Policy</h1>

<p><em>Last updated 2020-06-24</em></p>

<p>
<strong>This website uses cookies</strong> to improve your user experience; without them, most of the site's functionality is inaccessible. We reserve the right to update this Cookie Policy at any time for any reason, and by agreeing you waive your right to recieve specific notifications informing of such modifications.
</p>

<p>
A "cookie" is a string of information stored on your computer, which your browser serves to the site each time it is opened. It enables you, among other things, to stay logged in between browser sessions. Should you wish to disable them, click the link below corresponding to your browser.
</p>

<h3>Computer</h3>
<ul>
  <li>
    <a href="https://support.apple.com/kb/ph19214?locale=en_US">Apple Safari</a>
  </li>
  <li>
    <a href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DDesktop&hl=en">Google Chrome</a>
  </li>
  <li>
    <a href="https://support.microsoft.com/en-us/help/4468242/microsoft-edge-browsing-data-and-privacy-microsoft-privacy">Microsoft Edge</a>
  </li>
  <li>
    <a href="https://support.microsoft.com/en-gb/help/17442/windows-internet-explorer-delete-manage-cookies">Internet Explorer</a>
  </li>
  <li>
    <a href="https://support.mozilla.org/en-US/kb/enable-and-disable-cookies-website-preferences">Mozilla Firefox</a>
  </li>
  <li>
    <a href="https://help.opera.com/en/latest/web-preferences/">Opera</a>
  </li>
  <li>
    <a href="https://help.vivaldi.com/article/cookies/#:~:text=Disabling%2FEnabling%20cookies%20per%20sites&text=Open%20the%20website.,'re%20finished%2C%20click%20Done.">Vivaldi</a>
  </li>
</ul>

<h3>Mobile</h3>

<ul>
  <li>
    <a href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DAndroid&hl=en&oco=1">Chrome for Android</a>
  </li>
  <li>
    <a href="https://docs.blackberry.com/content/dam/docs-blackberry-com/release-pdfs/en/device-user-guides/BlackBerry-Classic-Smartphone-10.3.3-User-Guide-en.pdf">Blackberry</a>
  </li>
  <li>
    <a href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DiOS&hl=en&oco=1">Chrome for iPhone</a>
  </li>
  <li>
    <a href="https://support.google.com/chrome/answer/95647?co=GENIE.Platform%3DAndroid&hl=en&oco=1">Safari for iPhone</a>
  </li>
</ul>

<p>
If you have any questions, you're welcome to email <a href="mailto:dev@monthlytetris.info">dev@monthlytetris.info</a>.
</p>
{% endblock %}
